/* 头部 */
.head{
	position: relative;
	width: 1200px;
	height: 73px;
	margin: auto;
	/* border: 1px solid red; */
}
.head_logo img{
	position: absolute;
	left: 0;
	bottom: 0;
	height: 54px;
	width: 136px;
}
.head_2{
	width: 827px;
	height: 36px;
	margin-left: 5px;
	position: absolute;
	left: 134px;
	bottom: 0;
}
.head_2 li{
	margin: 0 9px;
	height: 36px;
	float: left;
}
.head_2 li a{
	color: black;
	font-weight: 600;
	font-size: 16px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	display: inline-block;
}
.head_2 li a:hover{
	color: #0088A4;
}
.head_2 .head_first a{
	color: #0088A4;
}
.head_3{
	width: 407px;
	height: 14px;
	padding-top: 6px;
	/* border: 1px solid blue; */
	position: absolute;
	top: 0;
	right: 0;
}
.head_li1{
	width: 42px;
	float: left;
}
.head_li1 span{
	float: left;
	height: 14px;
	line-height: 14px;
	font-size: 12px;
	margin-right: 4px;
	display: inline-block;
}
.head_li1 a{
	float: left;
	font-size: 12px;
	color: #0084BB;
	line-height: 14px;
	height: 14px;
	display: inline-block;
}
.head_li2{
	width: 70px;
	float: left;
}
.head_li2 span{
	float: left;
	height: 14px;
	line-height: 14px;
	font-size: 12px;
	margin:0 4px;
	display: inline-block;
}
.head_li2 a{
	float: left;
	font-size: 12px;
	color: #0084BB;
	line-height: 14px;
	height: 14px;
	text-align: right;
	display: inline-block;
}
.head_li3{
	width: 294px;
	height: 14px;
	float: left;
}
.head_li3 span{
	float: left;
	margin:0 9px;
	font-size: 12px;
	color: #999999;
	line-height: 14px;
	height: 14px;
	display: inline-block;
}
.head_li3 a:last-child{
	margin-left: 3px;
}
.head_li3 a{
	float: left;
	font-size: 12px;
	color: #999999;
	line-height: 14px;
	height: 14px;
	display: inline-block;
}
.head_i1{
	width: 10px;
	height: 8px;
	margin-right: 4px;
	background: url(../img/jj2.png) no-repeat -30px -153px;
	display: inline-block;
}
.head_b1{
	width: 6px;
	height: 6px;
	margin-left: 6px;
	background: url(../img/jj4.png) no-repeat -153px -21px;
	display: inline-block;
}
.head_b2{
	width: 6px;
	height: 6px;
	margin-left: 6px;
	background: url(../img/jj4.png) no-repeat -153px -21px;
	display: inline-block;
}
.head_4{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 94px;
	height: 36px;
}
/* 头部end */
/* 中间身体 */
.main{
	overflow: hidden;
	border-top: 3px solid #00AFC7;
}
/* 订单广告 */
.main1{
	position: relative;
	width: 1200px;
	margin: auto;
	display: flex;
	padding-top:15px;
	height: 320px;
	/* margin-bottom: 24px; */
}
/* 左边 */
.main1_left{
	position: relative;
	width: 710px;
	height: 308px;
	padding: 6px;
	background: #00AFC7;
	float: left;
}
.main1_left_wz{
	float: left;
	width: 72px;
	height: 308px;
}
.main1_left_wz ul li{
	float: left;
	width: 72px;
	height: 38px;
	border-bottom: 1px solid #41B4CA;
}
.main1_left_wz ul li a{
	margin: auto;
	height: 38px;
	color: white;
	line-height: 38px;
	text-align: center;
	font-size: 16px;
	display:block;
}
.main1_left_wz .main1_left_li{
	background: white;
	border-bottom: 0px solid;
}
.main1_left_wz ul li:hover{
	background: white;
}
.main1_left_wz .main1_left_li a{
	color: #00AFC7;
}
.main1_left_wz ul li a:hover{
	color: #00AFC7;
}
.main1_left_tp{
	position: absolute;
	right: 6px;
	width: 602px;
	height: 293px;
	padding: 10px 20px 5px 16px;
	background: white;
	display: none;
}
.main1_left_top{
	width: 602px;
	height: 30px;
	border-bottom: 1px solid #97D3D9;
}
.main1_left_top1 li {
	float: left;
}
.main1_left_top1 li a{
	height: 21px;
	color: #999999;
	font-size: 14px;
	line-height: 21px;
	padding: 0 20px 8px 20px;
}
.main1_left_top1 li a:hover{
	color: #3F3F3F;
}
.main1_left_top1 .main1_left_first a{
	color: black;
	font-weight: 600;
	border-bottom: 2px solid #098CB5;
}
.main1_left_top2{
	float: right;
}
.main1_left_top2 a{
	font-size: 12px;
	color: #999999;
	height: 21px;
	padding-left: 19px;
	line-height: 21px;
	display: inline-block;
}
.main1_left_top2 a:hover{
	text-decoration: underline;
}
.main1_left_a1{
	background: url(../img/jj3.png) no-repeat -282px -28px;
}
.main1_left_a2{
	background: url(../img/jj3.png) no-repeat -282px -1px;
}
.main1_left_bottom{
	width: 542px;
	height: 173px;
	padding: 20px 30px;
	background: #F4FBFC;
}
.main1_left_bottom1{
	margin-bottom: 10px;
}
.main1_left_bottom1 .ipt1{
	position: relative;
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	color: #000000;
	float: left;
	margin-right: 23px;
}
.main1_left_bottom1 .ipt1 input{
	float: left;
	margin-top: 3px;
	margin-right: 5px;
}
.main1_left_bottom1 .ipt2{
	height:18px;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
}
.main1_left_bottom1 .ipt2 input{
	float: left;
	margin-top: 3px;
	margin-right: 5px;
}
.main1_left_bottom2{
	position: relative;
	height: 104px;
}
.main1_left_bottom2 input{
	text-indent: 3em;
	color: #CCCCCC;
	font-size: 12px;
	line-height: 34px;
	width: 237px;
	height: 33px;
}
.main1_left_bottom2_l{
	float: left;
	width: 241px;
	height: 104px;
	margin-right: 60px;
}
.main1_left_bottom2_l a{
	width: 22px;
	height: 55px;
	background: url(../img/jj3.png) no-repeat -141px top;
	display: inline-block;
	position: absolute;
	right: 279px;
	top: 18px;
}
.main1_left_bottom2_l1{
	position: relative;
	margin-bottom: 14px;
}
.main1_left_bottom2_l1_wb{
	width: 32px;
	height: 12px;
	font-size: 12px;
	color: #999999;
	position: absolute;
	top: 10px;
	left: 5px;
}
.main1_left_bottom2_l1 b{
	width: 20px;
	height: 15px;
	background: url(../img/jj1.png) no-repeat 2px 1px;
	display: block;
	position: absolute;
	top: 10px;
	right: 0;
}
.main1_left_bottom2_l2{
	position: relative;
}
.main1_left_bottom2_l2_wb{
	width: 32px;
	height: 12px;
	font-size: 12px;
	color: #999999;
	position: absolute;
	top: 10px;
	left: 5px;
}
.main1_left_bottom2_l2 b{
	width: 20px;
	height: 15px;
	background: url(../img/jj1.png) no-repeat 2px 1px;
	display: block;
	position: absolute;
	top: 10px;
	right: 0;
}
.main1_left_bottom2_r{
	float: left;
	height: 104px;
	width: 241px;
}
.main1_left_bottom2_r1{
	margin-bottom: 14px;
}
.main1_left_bottom2_r1{
	position: relative;
}
.main1_left_bottom2_r1_wb{
	width: 32px;
	height: 12px;
	font-size: 12px;
	color: #999999;
	position: absolute;
	top: 10px;
	left: 5px;
}
.main1_left_bottom2_r1 b{
	width: 20px;
	height: 15px;
	background: url(../img/jj1.png) no-repeat -23px 1px;
	display: block;
	position: absolute;
	top: 10px;
	right: 0;
}
.main1_left_bottom2_r2{
	position: relative;
}
.main1_left_bottom2_r2_wb{
	width: 32px;
	height: 12px;
	font-size: 12px;
	color: #999999;
	position: absolute;
	top: 10px;
	left: 5px;
}
.main1_left_bottom2_r2 b{
	width: 20px;
	height: 15px;
	background: url(../img/jj1.png) no-repeat -23px 1px;
	display: block;
	position: absolute;
	top: 10px;
	right: 0;
}
.main1_left_bottom3{
	position: relative;
	height: 40px;
}
.main1_left_bottom3_p{
	height: 40px;
	font-size: 12px;
	line-height: 40px;
	color: #666666;
}
.main1_left_bottom3_r{
	width: 132px;
	height: 40px;
	background: #FF5722;
	font-size: 18px;
	line-height: 40px;
	color: rgba(255,255,255,0.8);
	position: absolute;
	text-align: center;
	top: 0;
	right: 0;
}
.main1_left_bottom3_r:hover{
	background: #FF752B;
}
.main1_left_foot{
	margin-top: 5px;
}
.main1_right{
	position: absolute;
	right: 0;
	width: 464px;
	height: 320px;
	margin-left: 14px;
}
.gg{
	position: absolute;
	right: 416px;
	bottom: 0;
	width: 48px;
	height: 18px;
	background: #5C5064;
	text-align: right;
}
.gg span{
	float: right;
	font-size: 12px;
	line-height: 18px;
	height: 18px;
	color: #C69EAA;
}
.gg i{
	float: left;
	width: 18px;
	height: 18px;
	background: url(../img/luotuo.png) no-repeat 0 5px;
	display: block;
}
/* 订单广告end */
/* 今日特惠 */
.main2{
	/* border: 1px solid red; */
	width: 1200px;
	height: 568px;
	margin:0px auto;
	margin-top: 24px;
}
.main2_l{
	float: left;
	width: 946px;
	height: 552px;
}
.main2_top{
	position: relative;
}
.main2_top_l{
	
	width: 290px;
	height: 33px;
}
.main2_top_l li a{
	padding: 0 13px;
	float: left;
	height: 33px;
	font-size: 16px;
	line-height: 33px;
	font-weight: bold;
	display: block;
	color: #00AFC7;
}
.main2_top_l .main2_top_con a{
	background: #00AFC7;
	color: white;
}
.main2_top_r{
	position: absolute;
	bottom: 13px;
	right: 0;
}
.main2_top_r a{
	height: 12px;
	font-size: 12px;
	margin-right: 13px;
	line-height: 12px;
	color: #666666;
	display: inline-block;
}
.main2_bottm{
	margin-top: 6px;
	width: 946px;
	height: 496px;
	padding-top: 15px;
	border-top: 2px solid #00AFC7;
}
.main2_bottm div{
	float: left;
}
.main2_bottm1{
	width: 428px;
	height: 238px;
	border: 1px solid #EEEEEE;
	margin-bottom: 16px;
}
.main2_bottm1_l{
	float: left;
	width: 246px;
}
.main2_bottm1_l img{
	width: 246px;
	height: 238px;
}
.main2_bottm1_r{
	float: right;
	width: 182px;
	height: 238px;
}
.main2_bottm1_r1{
	height: 66px;
	background: #00AFC7;
	color: white;
	font-size: 18px;
	line-height: 66px;
	text-align: center;
	font-weight: bold;
}
.main2_bottm1_r2{
	padding:0 10px;
	margin-top: 14px;
	margin-bottom: 68px;
	width: 162px;
	font-size: 14px;
	line-height: 20px;
	color: #555555;
}
.main2_bottm1_r3{
	padding-bottom: 14px;
	font-size: 16px;
	height: 16px;
	line-height: 16px;
	font-weight: bold;
	font-family: "粗体";
	color: #FF555A;
}
.main2_bottm1_r3 span{
	height: 14px;
	line-height: 14px;
	font-size: 12px;
	color: #555555;
	margin-left: 5px;
}
.main2_bottm2{
	width: 240px;
	height: 238px;
	margin-left: 16px;
	border: 1px solid #EEEEEE;
	margin-bottom: 16px;
}
.main2_bottm2_l{
	width: 240px;
	height: 144px;
}
.main2_bottm2_l img{
	width: 240px;
	height: 144px;
}
.main2_bottm2_r{
	height: 94px;
	padding: 0 10px;
}
.main2_bottm2_r1{
	height: 14px;
	line-height: 14px;
	font-size: 14px;
	color: black;
	padding: 14px 0;
}
.main2_bottm2_r2{
	font-size: 12px;
	height: 12px;
	line-height: 12px;
	color: #999999;
	width: 220px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.main2_bottm2_r3{
	padding-top: 10px;
	padding-bottom: 14px;
	height: 16px;
	line-height: 16px;
	font-size: 16px;
	color: #FF555A;
}
.main2_bottm2_r3 span{
	height: 14px;
	line-height: 14px;
	font-size: 12px;
	color: #999999;
	margin-left: 5px;
}
.main2_r_top{
	margin-top: 38px;
	float: right;
	margin-left: 14px;
	width: 238px;
	height: 298px;
	border: 1px solid #EEEEEE;
}
.main2_r_top h5{
	height: 23px;
	border-bottom: 1px solid #EEEEEE;
	font-size: 12px;
	line-height: 22px;
	color: #333333;
	font-weight: normal;
	padding-left:7px ;
}
.main2_r_top1{
	padding-left: 7px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #EEEEEE;
}
.main2_r_top1 p{
	font-size: 12px;
	color: #999999;
	height: 22px;
	line-height: 22px;
	cursor: pointer;
}
.main2_r_top1 p:hover{
	text-decoration: underline;
}
.main2_r_top2{
	padding: 15px 8px 18px 7px;
}
.main2_r_p1{
	height: 22px;
	line-height: 22px;
	position: relative;
	font-size: 12px;
	font-weight: bold;
	color: #777777;
}
.main2_r_p1 i{
	position: absolute;
	right: 0;
	width: 108px;
	height: 22px;
	display: inline-block;
	font-size: 12px;
	line-height: 22px;
	text-align: right;
	font-style: normal;
}
.main2_r_p1 i span{
	position: absolute;
	top:4px;
	left: 0;
	width: 16px;
	height: 15px;
	background: url(../img/24xiaoshi.png) no-repeat left top;
	display: inline-block;
	margin-right: 5px;
}
.main2_r_p2{
	font-size: 12px;
	line-height: 22px;
	color: #999999;
}
.main2_r_p2 span{
	float: right;
	font-weight: bold;
	color: #CE0101;
	
}
.main2_r_bottm{
	margin-top: 20px;
	float: right;
	margin-left: 14px;
	width: 238px;
	height: 141px;
}
.main2_r_bottm_p1{
	padding-top: 14px;
	height: 12px;
	font-size: 12px;
	color: #666666;
	line-height: 12px;
	background: #F9FBFB;
}
.main2_r_bottm1{
	border: 1px solid #EEEEEE;
	height: 115px;
}
.main2_r_bottm1 h6{
	font-size: 12px;
	height: 23px;
	line-height: 23px;
	color: #333333;
	border-bottom: 1px solid #EEEEEE;
}
.main2_r_bottm1 .main2_r_bottm1_p2{
	padding: 14px 0 12px 0;
}
.main2_r_bottm1 .main2_r_bottm1_p2 p{
	height: 20px;
}
.main2_r_bottm1 .main2_r_bottm1_p2 p a{
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	color: #999999;
	display: inline-block;
}
.main2_r_bottm1 .main2_r_bottm1_p2 p a:hover{
	text-decoration: underline;
}
/* 今日特惠 end*/
/* 轮播图 */
.lbt_box {
	width: 1200px;
	display: block;
	margin: auto;
}
.lbt{
	position: relative;
	margin-top: 14px;
	height: 288px;
	width: 946px;
	overflow: hidden;
	/* margin-left: 160px; */
}
.lbt_ul{
	width:4730px ;
	position: absolute;
	top: 0;
	left: 0;
}
.lbt_ul li{
	float: left;
	height: 288px;
	width: 946px;
}
.lbt_ul li img{
	height: 288px;
	width: 946px;
}
.lbt_yd{
	position: absolute;
	bottom: 24px;
	left: 408px;
	width: 130px;
}
.lbt_yd li{
	float: left;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	margin: 0 5px;
	background: #999999;
}
.lbt_yd .lbt_ol_con{
	background: #FF4500;
}
.lbt_gg{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 48px;
	height: 18px;
	background: #5C5064;
	text-align: right;
}
.lbt_gg span{
	float: right;
	font-size: 12px;
	line-height: 18px;
	height: 18px;
	color: #C69EAA;
}
.lbt_gg i{
	float: left;
	width: 18px;
	height: 18px;
	background: url(../img/luotuo.png) no-repeat 0 5px;
	display: block;
}
/* 轮播图 end*/
/* 当季热门度假 */
.main3{
	height: 600px;
	margin-top: 22px;
	width: 946px;
	/* margin-left: 160px; */
}
.main3 .main3_t{
	font-size: 23px;
	height: 42px;
	line-height: 42px;
	color: #00AFC7;
	font-weight: normal;
	border-bottom: 2px solid #00AFC7;
}
/* 左边 */
.main3_l{
	float: left;
	padding-top: 15px;
	height: 552px;
	width: 177px;
}
.main3_l_ul .main3_l_li{
	height: 127px;
	width: 177px;
	margin-bottom: 11px;
	background: #E2F3F8;
}
.main3_l_p1{
	font-weight: 600;
	height: 32px;
	font-size: 14px;
	line-height: 32px;
	color: #0286A0;
	padding-left: 11px;
}
.main3_l_btm{
	height: 94px;
	width: 175px;
	margin: 0 1px 1px 1px;
	background: white;
}
.main3_l_btm li{
	height: 26px;
	float: left;
}
.main3_l_btm li a{
	padding: 14px 6px 0 10px;
	height: 12px;
	font-size: 12px;
	line-height: 12px;
	color: #666666;
	display: inline-block;
}
.main3_l_btm .main3_l_btm_red{
	color: red;
}
.main3_l_btm li a:hover{
	color: #00A3D2;
}
/* 右边 */
.main3_r{
	float: right;
	padding-top: 15px;
	/* padding-left: 1px; */
	height: 541px;
	width: 769px;
}
.main3_r1{
	float: left;
	margin-left: 13px;
	margin-bottom: 13px;
	height: 262px;
	width: 240px;
	border: 1px solid #EEEEEE;
}
.main3_r .main3_r2{
	margin-left: 17px;
}
.main3_r1:hover{
	border-color: #00A3D2;
}
.main3_r1 img{
	width: 240px;
	height: 160px;
}
.main3_r1 p{
	height: 48px;
	font-size: 14px;
	line-height: 48px;
	color: #666666;
	font-weight: bold;
	padding-left: 10px;
	display: inline-block;
	margin-bottom: 24px;
}
.main3_r1 span{
	padding-left: 10px;
	color: #FF5555;
	font-weight: bold;
	font-size: 15px;
	height: 15px;
	line-height: 15px;
	display: inline-block;
}
.main3_r1 span i{
	color: #FF5555;
	font-style: normal;
	margin-right:7px ;
}
/* 当季热门度假end */
/* 当季景点门票 */
.main4{
	height: 644px;
	margin-top: 22px;
	width: 946px;
	/* margin-left: 160px; */
}
.main4 .main4_t{
	font-size: 23px;
	height: 42px;
	line-height: 42px;
	color: #00AFC7;
	font-weight: normal;
	border-bottom: 2px solid #00AFC7;
}
/* 左边 */
.main4_l{
	float: left;
	padding-top: 15px;
	height: 585px;
	width: 177px;
}
.main4_l_ul .main4_l_li{
	height: 181px;
	width: 177px;
	margin-bottom: 14px;
	background: #E2F3F8;
}
.main4_l_p1{
	font-family: "粗体";
	font-weight: 600;
	height: 32px;
	font-size: 14px;
	line-height: 32px;
	color: #0286A0;
	padding-left: 11px;
}
.main4_l_btm{
	height: 148px;
	width: 175px;
	margin: 0 1px 1px 1px;
	background: white;
}
.main4_l_btm li{
	height: 26px;
	float: left;
}
.main4_l_btm li a{
	padding: 14px 6px 0 10px;
	height: 12px;
	font-size: 12px;
	line-height: 12px;
	color: #666666;
	display: inline-block;
}
.main4_l_btm li a:hover{
	color: #00A3D2;
}
/* 右边 */
.main4_r{
	float: right;
	padding-top: 15px;
	height: 585px;
	width: 769px;
}
.main4_r1{
	height: 277px;
	width: 495px;
	float: left;
	margin-left: 17px;
	margin-bottom: 13px;
	border: 1px solid #EEEEEE;
}
.main4_r1 img{
	height: 277px;
	width: 495px;
}
.main4_r1:hover{
	border-color: #00A3D2;
}
.main4_r2{
	float: left;
	margin-left: 13px;
	margin-bottom: 13px;
	height: 277px;
	width: 240px;
	border: 1px solid #EEEEEE;
}
.main4_r2:hover{
	border-color: #00A3D2;
}
.main4_r2_t{
	width: 240px;
	height: 160px;
}
.main4_r2_t img{
	width: 240px;
	height: 160px;
}
.main4_r2 h4{
	font-size: 14px;
	height: 18px;
	line-height: 18px;
	font-weight: 600;
	padding-top: 16px;
	color: #666666;
	padding-left: 10px;
	display: inline-block;
}
.main4_r2 p{
	height: 16px;
	font-size: 12px;
	line-height: 16px;
	color: #AAAAAA;
	padding-left: 10px;
	display: block;
	margin-top:10px ;
}
.main4_r2 span{
	margin-top: 20px;
	padding-left: 10px;
	color: #FF5555;
	font-weight: bold;
	font-size: 15px;
	height: 25px;
	line-height: 25px;
	display: inline-block;
}
.main4_r2 span i{
	color: #FF5555;
	font-style: normal;
	margin-right:7px ;
}
.main4_r .main4_r3{
	margin-left: 17px;
}
/* 当季景点门票end */
/* 旅行攻略 */
.main5{
	position: relative;
	width: 946px;
	height: 577px;
	margin-top: 6px;
	/* margin-left:160px ; */
}
.main5_t{
	position: relative;
	width: 946px;
	height: 43px;
	border-bottom: 2px solid #00AFC7;
}
.main5_t .main5_t_h2{
	float: left;
	width: 93px;
	font-size: 23px;
	height: 43px;
	line-height: 43px;
	color: #00AFC7;
	font-weight: normal;	
}
.main5_t_span{
	margin-left: 23px;
	font-size: 11px;
	line-height: 11px;
	color: #999999;
	height: 11px;
	display: inline-block;
	margin-bottom: 12px;
	margin-top: 20px;
}
.main5_t_r{
	position: absolute;
	right: 0;
	top: 0;
}
.main5_t_r a{
	text-align: center;
	width: 88px;
	height: 43px;
	line-height: 43px;
	font-size: 15px;
	color: #00AFC7;
	display: inline-block;
}
.main5_t_r a span{
	margin-top: 3px;
	display: inline-block;
}
.main5_t_r a .main5_t_ri{
	float: left;
	margin-top: 15px;
	margin-bottom: 10px;
	width: 18px;
	height: 18px;
	margin-right: 6px;
	background: url(../img/jj3.png) no-repeat -281px -122px;
	display: inline-block;
}
.main5_t_r a .main5_t_ri1{
	float: left;
	margin-top: 15px;
	margin-bottom: 10px;
	width: 18px;
	height: 18px;
	margin-right: 6px;
	background: url(../img/jj3.png) no-repeat -281px -145px;
	display: inline-block;
}
.main5_t_r .main5_t_rspan{
	font-size: 14px;
	height: 18px;
	line-height: 18px;
	margin: 0 20px;
	color: #999999;
}
.main5_t1{
	height: 56px;
	margin-top: 15px;
}
.main5_t1_li a{
	margin-right: 18px;
	float: left;
	font-size: 12px;
	padding: 10px 11px 7px 10px;
	height: 12px;
	line-height: 12px;
	display: block;
	color: #666666;
}
.main5_t1 .main5_t1_ul .main5_t1_li_con a{
	color: white;
	background: #00AFC7;
}
.main5_t1_gd{
	/* width: 40px; */
	height: 29px;
	position: absolute;
	top:115px;
	right: 0;
}
.main5_t1_gd a{
	height: 12px;
	font-size: 12px;
	margin-right: 13px;
	line-height: 12px;
	color: #666666;
	display: inline-block;
}
.main5_t1_gd:hover a,i{
	color: #00AFC7;
}
.main5_t1_tp{
	margin-top:29px;
	width: 946px;
	height: 348px;
}
.main5_t1_tp1{
	float: left;
	position: relative;
	width: 436px;
	height: 332px;
	overflow: hidden;
}
.main5_t1_tp1 img{
	width: 436px;
	height: 332px;
}
.main5_t1_wz{
	position: absolute;
	bottom: -40px;
	height: 68px;
	width: 436px;
	padding-bottom: 6px; 
}
.main5_t1_wz:hover{
	position: absolute;
	bottom: 6px;
	transition: 0.5s all;	
}
.main5_t1_wz .main5_t1_wz1{
	padding-left: 10px;
	height: 34px;
	font-size: 14px;
	line-height: 34px;
	font-weight: bold;
	color: white;
}
.main5_t1_wzyc{
	padding-left: 10px;
	height: 42px;
}
.main5_t1_wzyc_l img{
	float: left;
	margin-right: 15px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.main5_t1_wzyc_r{
	float: left;
	width: 371px;
	height: 42px;
}
.main5_t1_wzyc_p1 .main5_t1_wzyc_span1{
	font-size: 14px;
	height: 14px;
	line-height: 14px;
	display: inline-block;
	color: red;
}
.main5_t1_wzyc_r i{
	font-style: normal;
	color: #AAAA90;
	height: 14px;
	font-size: 12px;
	line-height: 14px;
	display: inline-block;
}
.main5_t1_wzyc_r span{
	font-size: 12px;
	height: 14px;
	line-height: 14px;
	color: #AAAA90;
	display: inline-block;
}
.main5_t1_tp2{
	position: relative;
	float: left;
	margin-left: 13px;
	margin-bottom: 16px;
	width: 240px;
	height: 158px;
	overflow: hidden;
}
.main5_t1_tp2 img{
	width: 240px;
	height: 158px;
}
.main5_t2_wz{
	position: absolute;
	bottom: -40px;
	height: 68px;
	width: 240px;
	padding-bottom: 6px; 
}
.main5_t2_wz:hover{
	position: absolute;
	bottom: 6px;
	transition: 0.5s all;	
}
.main5_t2_wz .main5_t2_wz1{
	padding-left: 10px;
	height: 34px;
	font-size: 14px;
	line-height: 34px;
	font-weight: bold;
	color: white;
}
.main5_t2_wzyc{
	padding-left: 10px;
	height: 42px;
}
.main5_t2_wzyc_l img{
	float: left;
	margin-right: 15px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.main5_t2_wzyc_r{
	float: left;
	width: 175px;
	height: 42px;
}
.main5_t2_wzyc_p1 .main5_t2_wzyc_span1{
	font-size: 14px;
	height: 14px;
	line-height: 14px;
	display: inline-block;
	color: red;
}
.main5_t2_wzyc_r i{
	font-style: normal;
	color: #AAAA90;
	height: 14px;
	font-size: 12px;
	line-height: 14px;
	display: inline-block;
}
.main5_t2_wzyc_r span{
	font-size: 12px;
	height: 14px;
	line-height: 14px;
	color: #AAAA90;
	display: inline-block;
}
.main5_t1_bm{
	margin-top: 4px;
	width: 946px;
	height: 80px;
}
.main5_t1_bm_li1{
	float: left;
	height: 80px;
	width: 436px;
}
.main5_t1_bm_ul .main5_t1_bm_li2{
	width: 493px;
	margin-left: 13px;
}
.main5_t1_bm_li1 h4{
	height: 24px;
	width: 424px;
	border-left: 2px solid #00AFC7;
	padding-left: 10px;
	font-size: 16px;
	color: #757575;
	font-weight: bold;
}
.main5_t1_bm_a{
	width: 434px;
	height: 56px;
	border-left: 2px solid #757575;
	padding-left: 10px;
	color: #757575;
}
.main5_t1_bm_ul .main5_t1_bm_li2 .main5_t1_bm_a{
	width: 493px;
}
.main5_t1_bm_a a{
	width: 212px;
	height: 16px;
	font-size: 12px;
	line-height: 16px;
	padding-top: 12px;
	color: #757575;
	display: inline-block;
}
.main5_t1_bm_ul .main5_t1_bm_li2 .main5_t1_bm_a a{
	width: 228px;
}
.main5_t1_bm_a a span{
	color: #00AFC7;
}
.main5_t1_bm_a1{
	padding-left: 13px;
}
/* 旅行攻略end */
/* 骆驼书 */
.main6{
	margin-top: 22px;
	height: 647px;
	width: 946px;
	/* margin-left: 160px; */
}
.main6_t{
	position: relative;
	
	width: 946px;
	height: 43px;
	border-bottom: 2px solid #00AFC7;
}
.main6_t .main6_t_h2{
	float: left;
	font-size: 23px;
	height: 43px;
	line-height: 43px;
	color: #00AFC7;
	font-weight: normal;	
}
.main6_t_span{
	margin-left: 25px;
	font-size: 11px;
	line-height: 11px;
	color: #999999;
	height: 11px;
	display: inline-block;
	margin-bottom: 12px;
	margin-top: 20px;
}
.main6_t1{
	height: 29px;
	margin-top: 15px;
}
.main6_t1_li a{
	margin-right: 18px;
	float: left;
	font-size: 12px;
	padding: 10px 11px 7px 10px;
	height: 12px;
	line-height: 12px;
	display: block;
	color: #666666;
}
.main6_t1 .main6_t1_ul .main6_t1_li_con a{
	color: white;
	background: #00AFC7;
}
.main6_t1_tp{
	margin-top: 10px;
	height: 339px;
	width: 946px;
}
.main6_t1_tp1{
	float: left;
	height: 339px;
	width: 178px;
}
.main6_t1_tp1 img{
	height: 339px;
	width: 178px;
}
.main6_t1_tp2{
	float: left;
	height: 339px;
	width: 240px;
	margin-left: 16px;
}
.main6_t1_tp2 img{
	height: 339px;
	width: 240px;
}

.main6_t1_bm{
	margin-top: 22px;
	width: 946px;
	height: 66px;
}
.main6_t1_bm_li1{
	float: left;
	height: 66px;
	width: 434px;
}
.main6_t1_bm_li1 h4{
	height: 18px;
	width: 192px;
	line-height: 18px;
	font-size: 16px;
	color: #757575;
	font-weight: bold;
}
.main6_t1_bm_a{
	width: 434px;
	height: 48px;
}
.main6_t1_bm_a a{
	float: left;
	width: 192px;
	height: 16px;
	font-size: 12px;
	line-height: 16px;
	padding-top: 8px;
	color: #757575;
	display: inline-block;
}
.main6_t1_bm_a a span{
	color: #00AFC7;
}
.main6_t1_bm_a .main6_t1_bm_a1{
	width: 212px;
	padding-left: 28px;
}
.main6_t1_bm_li2{
	float: left;
	height: 66px;
	width: 496px;
	margin-left: 16px;
}
.main6_t1_bm_a2{
	margin-left: 16px;
}
.main6_t1_bm_a3 a{
	float: left;
	width: 240px;
	height: 16px;
	font-size: 12px;
	line-height: 16px;
	padding-top: 8px;
	color: #757575;
	display: inline-block;
}
.main6_t1_bm_a3 a span{
	color: #00AFC7;
}
/* 骆驼书end */
/* 中间身体 end*/
/* 底部 */
.foot{
	position: relative;
	width: 100%;
	height: 200px;
	background: #009FBD;
}
.foot1{
	width: 1200px;
	
	position: absolute;
	top: -37px;
	left: 50%;
	transform: translateX(-50%);
}
.foot1 img{
	width: 946px;
}
.bottom{
	width: 1200px;
	height: 168px;
	padding-bottom: 7px;
	margin: 0 auto;
	margin-top: 25px;
}
.bottom dl{
	width: 1200px;
	height: 84px;
	padding-bottom: 12px;
}
.bottom dt{
	float: left;
	margin-right: 10px;
	width: 24px;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	color: #616161;
}
.bottom dd{
	font-family: tahoma,arial,"Hiragino Sans GB",simsun,sans-serif;
	margin-right: 10px;
	float: left;
	width: 96px;
	line-height: 24px;
	height: 24px;
	font-size: 12px;
	overflow: hidden;
	color: #999999;
}
.bottom dd:hover{
	color: #FF6600;
	cursor: pointer;
}
.bottom1{
	width: 979px;
	height:138px;
	padding: 15px 0 25px 0;
	margin: 0 auto;
	border-top: 1px solid #EEEEEE;
}
.bottom1_wz1{
	margin: 0 auto;
	width: 606px;
	height:26px;
	text-align: center;
}
.bottom1 a:hover{
	color:#FF6600 ;
}
.bottom1_wz1_l{
	float: left;
	width: 112px;
	height: 24px;
}
.bottom1_wz1_l i{
	width: 7px;
	height: 4px;
	margin: 0 0 2px 3px;
	background: url(../img/bottm1.png) no-repeat left bottom;
	display: inline-block;
}
.bottom1_wz1_la{
	font-size: 12px;
	line-height: 22px;
	height: 22px;
	display: inline-block;
	padding: 0 5px;
	color: #999999;
}
.bottom1_wz1 span{
	float: left;
	font-size: 12px;
	color: #999999;
	height: 22px;
	line-height: 22px;
}
.bottom1_wz1 a{
	float: left;
	font-size: 12px;
	line-height: 22px;
	height: 22px;
	display: inline-block;
	padding: 0 5px;
	color: #999999;
}
.bottom1 p{
	text-align: center;
}
.bottom1 p a{
	text-align: center;
	font-size: 12px;
	line-height: 22px;
	height: 22px;
	display: inline-block;
	padding: 0 5px;
	color: #999999;
}
.bottom1 p span{
	background: url(../img/24h.png) no-repeat left center;
	text-align: center;
	font-size: 12px;
	line-height: 22px;
	height: 22px;
	display: inline-block;
	padding: 2px 0 2px 20px;
	color: #999999
}
.bottom_tp{
	width: 442px;
	height: 32px;
	margin: auto;
}
.bottom_tp1 img{
	width: 60px;
	height: 30px;
}
.bottom_tp li{
	float: left;
	height: 30px;
	margin-right: 10px;
}
.bottom_tp2 a{
	width: 49px;
	height: 30px;
	display: inline-block;
	background: url(../img/dibu1.png) no-repeat -106px 0;
}
.bottom_tp3 a{
	width: 91px;
	height: 30px;
	display: inline-block;
	background: url(../img/dibu1.png) no-repeat -160px 0;
}
.bottom_tp4 a{
	width: 78px;
	height: 30px;
	display: inline-block;
	background: url(../img/dibu1.png) no-repeat -256px 0;
}
.bottom_tp5 a{
	width: 88px;
	height: 30px;
	display: inline-block;
	background: url(../img/dibu1.png) no-repeat -431px 0;
}
/* 底部end */